.App h1 {
  display: flex;
  justify-content: center;
  align-items: center;
   color:rgb(245, 101, 6) ;
   font-weight: bolder;
}
.App input {display: flex;
  justify-content: center;
 
 
  height: 20vh;
  background-color: blueviolet;
  border: 100px;
  border-color: orangered;
  margin-top: 5em;
  margin-left: 18em;
  color: #fff;
}
.App button{display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  background-color: orangered;
  margin-left: 15em;
  height: 15vh;
  width: 40vw;
}
.App ul li{
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: blueviolet;
  color: aliceblue;
  font-weight: bold;
}